/* ##Device = Desktops# #Screen = 1281px*/

.logo {
    width: 40%;
    border-radius: 20%;
}

.col-for-cards {
    flex: 0 0 25%;
    max-width: 25%;
}

.adjust-no-item-button {
    margin-left: 41%;
}

.foot-link-to-portfolio {
    font-size: 25px;
}

.contact-header {
    font-size: 42px;
}

.phone-link, .email-link {
    font-size: 25px;
    width: 22vw;
}

button, input, p {
    font-family: Akronim, sans-serif;
}

.font-fam {
    font-family: Akronim, sans-serif;
}

h5 {
    font-family: Faster One, sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
}

.delete {
    margin-left: 200%;
}

.plus-minus-button {
    width: 50%;
}

.checkout {
    border-radius: 1%;
    width: 50vw;
    margin-left: 24%;
    margin-bottom: 17%;
}

.no-item {
    margin-bottom: 24%;
}

.color {
    color: aliceblue;
    margin-right: 1%;
    margin-left: 0%;
}

.modal-top {
    margin-top: 50%;
}

#show {
    font-size: 30px;
    text-align: center;
    height: 100%;
    display: block;
    background-color: rgba(100, 100, 100, 0.7);
}

#hide {
    display: none;
}

.modal-button {
    margin-right: 40%;
}

.copy {
    color: aliceblue;
    margin-left: 10%;
    margin-top: 2%;
}

.contact {
    color: aliceblue;
    margin-top: -5%;
    margin-right: -25%;
}

.title1 {
    cursor: pointer;
    margin-right: 30%;
    color: aliceblue;
    font-size: 24px;
}

.title1:hover {
    transform: scale(1.2);
    transition: transform .2s;
}

.foot {
    margin-top: 7%;
    height: 20%;
}

.text-color {
    margin-left: 26%;
    color: aliceblue;
}

.checkout-text-color {
    margin-left: 23%;
    color: aliceblue;
}

.checkout-btn {
    color: aliceblue;
}

.cart {
    cursor: pointer;
    margin-left: 80%;
    color: aliceblue;
    font-size: 5rem;
}

.cart-count {
    margin-left: 1.5%;
    position: absolute;
    font-size: 34px;
    margin-top: 1.5%;
}

.add-cart {
    text-decoration: none;
    color: rgba(256, 255, 255, 0.8);
    background: rgb(17, 177, 33);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.container {
    margin-right: 20%;
    margin-top: 20px;
}

form {
    width: 50%;
    margin-left: 20%;
}

.place-order {
    float: right;
}

.mt-4 {
    display: contents;
}

.checkout-button {
    display: inline-block;
    margin-top: 1%;
    float: right;
}

.item-total {
    display: inline-block;
    margin-right: 47%;
    margin-left: 0%;
    display: inline-block;
    margin-top: 1%;
}

.mod {
    font-size: 20px;
    position: fixed;
    top: 10%;
    left: 18%;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.card-space-item {
    margin-top: 16%;
    width: 76%;
}

.jumbo {
    font-family: Faster One, sans-serif;
    margin-top: 7%;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("image/jumbo.jpeg");
}

.prodet {
    margin-top: 3%;
    height: 36vh;
    width: 33vw;
}

.checkout-container {
    margin-top: 13%;
}

.mt {
    margin-top: 10%;
}

.btc {
    font-size: 15px;
    float: left;
}

.card {
    margin-top: 3%;
    margin-left: 6%;
}

.card-body {
    text-align: center;
    margin-top: 4%;
    color: black;
    margin-bottom: 4%;
    border-radius: 2%;
    background-color: white;
}

.card-body:hover {
    cursor: pointer;
}

.input-error {
    position: absolute;
    z-index: 1;
    color: red;
    background-color: pink;
    border: 1px solid red;
}

.zoom:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

.center {
    width: 60px;
    margin: 40px auto;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .center-container {
        margin-left: 11%;
    }
    .text-color {
        margin-left: 18%;
    }
    .checkout-container {
        margin-left: 0%;
        margin-right: 29%;
    }
    .ml-footer {
        margin-left: 6%;
    }
    .margin-for-model {
        margin-right: 21%;
    }
    .adjust-no-item-button {
        margin-left: 55%;
    }
}

/*media start here*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /*ipad*/
    .cart-count {
        margin-top: 2.5%;
        margin-left: 2%;
        font-size: 28px;
    }
    .adjust-no-item-button {
        margin-top: 5%;
        margin-left: 46%;
    }
    .contact {
        margin-right: -23%;
    }
    .jumbo {
        height: 91vh;
    }
    .center-container {
        margin-left: 5%;
    }
    .imagerow {
        margin-left: 3%;
    }
    .text-color {
        margin-left: 14%;
    }
    .checkout-btn {
        margin-left: -7%;
    }
    .logo {
        width: 71%;
    }
    .no-item {
        margin-bottom: 32%;
    }
    .checkout {
        margin-bottom: 23%;
    }
    .mod {
        top: 5%;
        left: 0%;
    }
    .plus-minus-button {
        width: 55%;
    }
    .container {
        margin-top: 5px;
    }
    .mt {
        margin-top: 16%;
    }
    .foot {
        height: 21vh;
    }
    .checkout-text-color {
        margin-left: 14%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /*ipad*/
    .cart {
        margin-left: 0%;
    }
    .cart-count {
        margin-top: 2.5%;
        margin-left: 3%;
    }
    .card {
        margin-left: 1%;
    }
    .col-for-cards {
        flex: none;
        max-width: 32%;
    }
    .foot-link-to-portfolio {
        font-size: 21px;
    }
    .phone-link, .email-link {
        font-size: 19px;
    }
    .contact-header {
        font-size: 30px;
    }
    .contact {
        margin-right: -23%;
    }
    .no-item {
        font-size: 5vh;
        margin-bottom: 62%;
    }
    .adjust-no-item-button {
        font-size: 4vh;
        margin-left: 33%;
    }
    .center-container {
        margin-left: 3%;
    }
    .checkout-container {
        margin-top: 33%;
        margin-bottom: 22%;
    }
    .place-order {
        height: 4vh;
    }
    .mt {
        margin-top: 33%;
    }
    .jumbo {
        height: 51vh;
    }
    .plus-minus-button {
        width: 83%;
    }
    .text-color {
        margin-bottom: 33%;
        margin-left: 16%;
    }
    .checkout-btn {
        margin-top: -8%;
        margin-left: -21%;
    }
    .imagerow {
        margin-left: -5%;
        margin-right: -13%;
    }
    .modal-top {
        margin-top: 67%;
    }
    .checkout-text-color {
        margin-left: 15%;
    }
    .checkout {
        margin-bottom: 52%;
    }
    .mod {
        left: 2%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /*iphone*/
    .cart {
        font-size: 3rem;
        margin-left: 0%;
    }
    .cart-count {
        margin-top: 2.5%;
        margin-left: 2.5%;
        font-size: 16px;
    }
    .col-for-cards {
        flex: none;
        max-width: 100%;
    }
    .center-container {
        margin-left: 6%;
    }
    .input-width {
        width: 39%;
    }
    .phone-link, .email-link {
        font-size: 15px;
        width: 22vw;
    }
    .contact-header {
        font-size: 24px;
    }
    .foot-link-to-portfolio {
        font-size: 18px;
    }
    .prodet {
        margin-top: 1%;
        height: 37vh;
        width: 25vw;
        float: right;
        margin-right: 9%;
    }
    .jumbo {
        height: 88vh;
    }
    .margin-for-model {
        text-align: left;
        margin-right: 15%;
    }
    .mt {
        margin-top: 13%;
    }
    .place-order {
        height: 6vh;
        float: right;
        font-size: 9px;
        margin-top: -1%;
    }
    .title1 {
        margin-left: -270%;
    }
    .card-img-top {
        width: 40%;
    }
    .contact {
        margin-top: -6%;
    }
    .logo {
        width: 21%;
    }
    .imagerow {
        background-image: none;
    }
    .plus-minus-button {
        width: 74%;
    }
    .delete {
        margin-left: 162%;
    }
    .p2 {
        position: absolute;
    }
    .text-color {
        margin-left: 20%;
    }
    .checkout-button {
        margin-left: 54%;
        float: none;
        margin-top: 0%;
    }
    .modal-top {
        width: 80%;
        margin-left: 17%;
        margin-top: 0%;
    }
    .continue-to-shop-button {
        font-size: 10px;
        margin-top: -5%;
    }
    .fs {
        height: 5vh;
        font-size: 9px;
    }
    .checkout-text-color {
        font-size: x-small;
        margin-left: 14%;
        width: 57vw;
    }
    .checkout-container {
        margin-top: 13%;
    }
    .mod {
        margin-top: 0;
        top: -2%;
    }
    .product-name {
        font-size: 0px;
    }
    .long-text {
        font-size: 43%;
        font-weight: 900;
    }
    .short-text {
        font-size: 0;
    }
    .add-cart {
        text-decoration: none;
        color: rgba(256, 255, 255, 0.8);
        background: rgb(17, 177, 33);
        padding: 1px 1px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: none;
        transition: all 0.2s ease-in-out;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /*iphone*/
    .title1 {
        margin-left: -194%;
    }
    .phone-link, .email-link {
        font-size: 12px;
        width: 22vw;
    }
    .contact-header {
        font-size: 16px;
    }
    .cart-sum-text {
        width: 220%;
    }
    .foot-link-to-portfolio {
        font-size: 12px;
    }
    .contact {
        margin-top: -6%;
        margin-right: -17%;
    }
    .col-for-cards {
        flex: none;
        max-width: 90%;
    }
    .no-item {
        margin-bottom: 66%;
    }
    .adjust-no-item-button {
        margin-left: 30%;
    }
    .place-order {
        height: 10vh;
    }
    .mod {
        width: 116%;
        top: 6px;
        left: -28px;
        margin-top: 0;
    }
    .cart {
        position: absolute;
        margin-left: 75%;
        font-size: 3rem;
    }
    .cart-count {
        margin-left: 34%;
        position: absolute;
        font-size: 16px;
        margin-top: 27.5%;
    }
    .add-cart {
        text-decoration: none;
        color: rgba(256, 255, 255, 0.8);
        background: rgb(17, 177, 33);
        padding: 1px 1px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: none;
        transition: all 0.2s ease-in-out;
    }
    .prodet {
        margin-top: 1%;
        height: 30vh;
        width: 70vw;
        float: left;
    }
    .mt {
        margin-top: 35%;
    }
    .logo {
        width: 21%;
    }
    .imagerow {
        background-image: none;
    }
    .card {
        margin-right: 7%;
    }
    .foot {
        font-size: 11px;
    }
    .text-color {
        margin-left: 10%;
    }
    .plus-minus-button {
        width: 132%;
    }
    .delete {
        margin-left: 174%;
    }
    .checkout-btn {
        margin-left: 50%;
        margin-top: -15%;
    }
    .checkout-text-color {
        margin-left: 5%;
        width: 80vw;
        font-size: 14px;
    }
    .checkout-container {
        margin-top: 19%;
    }
    .checkout {
        border-radius: 1%;
        width: 61vw;
        margin-left: 20%;
        margin-bottom: 33%;
    }
    .product-name {
        font-size: 14px;
    }
    .input-width {
        width: 106%;
    }
    .long-text {
        font-size: 63%;
        font-weight: 900;
    }
    .short-text {
        font-size: 0;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    /* iphone x */
    .nav-h {
        height: 10vh;
    }
    .no-item {
        margin-bottom: 66%;
    }
    .adjust-no-item-button {
        margin-bottom: 45%;
        margin-left: 26%;
        font-size: 3vh;
    }
    .logo {
        width: 28%;
    }
    .cart {
        font-size: 4rem;
        margin-top: -21%;
    }
    .cart-count {
        margin-left: 5.5%;
        margin-top: 3.5%;
    }
    .title1 {
        margin-left: -194%;
    }
    .phone-link, .email-link {
        font-size: 12px;
        width: 22vw;
    }
    .contact-header {
        font-size: 16px;
    }
    .cart-sum-text {
        width: 220%;
    }
    .foot-link-to-portfolio {
        font-size: 12px;
    }
    .contact {
        margin-top: -6%;
        margin-right: -17%;
    }
    .col-for-cards {
        flex: none;
        max-width: 90%;
    }
    .no-item {
        margin-bottom: 64%;
    }
    .place-order {
        height: 8.2vh;
    }
    .mod {
        width: 116%;
        top: 6px;
        left: -28px;
        margin-top: 0;
    }
    .add-cart {
        text-decoration: none;
        color: rgba(256, 255, 255, 0.8);
        background: rgb(17, 177, 33);
        padding: 1px 1px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: none;
        transition: all 0.2s ease-in-out;
    }
    .prodet {
        margin-top: 1%;
        height: 30vh;
        width: 70vw;
        float: left;
    }
    .mt {
        margin-top: 35%;
    }
    .imagerow {
        background-image: none;
    }
    .card {
        margin-right: 7%;
    }
    .foot {
        font-size: 11px;
    }
    .text-color {
        margin-left: 10%;
    }
    .plus-minus-button {
        width: 132%;
    }
    .delete {
        margin-left: 174%;
    }
    .checkout-btn {
        margin-left: 50%;
        margin-top: -15%;
    }
    .checkout-text-color {
        margin-left: 5%;
        width: 80vw;
        font-size: 24px;
    }
    .checkout-container {
        margin-top: 33%;
    }
    .checkout {
        border-radius: 1%;
        width: 61vw;
        margin-left: 20%;
        margin-bottom: 70%;
    }
    .product-name {
        font-size: 14px;
    }
    .input-width {
        width: 106%;
    }
    .long-text {
        font-size: 80%;
        font-weight: 900;
    }
    .short-text {
        font-size: 0;
    }
    .modal-top {
        margin-top: 83%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    /* iphone x */
    .nav-h {
        height: 26vh;
    }
    .cart {
        font-size: 4rem;
        margin-left: 0%;
    }
    .card {
        margin-left: 1%;
    }
    .foot {
        height: 37vh;
    }
    .cart-count {
        margin-top: 2.5%;
        margin-left: 2.5%;
        font-size: 25px;
    }
    .col-for-cards {
        flex: none;
        max-width: 49%;
    }
    .center-container {
        margin-left: 6%;
    }
    .input-width {
        width: 27%;
    }
    .phone-link, .email-link {
        font-size: 15px;
        width: 22vw;
    }
    .contact-header {
        font-size: 24px;
    }
    .foot-link-to-portfolio {
        font-size: 18px;
    }
    .prodet {
        margin-top: 1%;
        height: 37vh;
        width: 25vw;
        float: right;
        margin-right: 9%;
    }
    .jumbo {
        height: 88vh;
    }
    .margin-for-model {
        text-align: left;
        margin-right: 0%;
        margin-left: 18%;
    }
    .mt {
        margin-top: 13%;
    }
    .place-order {
        height: 6vh;
        float: right;
        font-size: 9px;
        margin-top: -1%;
    }
    .title1 {
        margin-left: -270%;
    }
    .card-img-top {
        width: 40%;
    }
    .contact {
        margin-top: -6%;
    }
    .logo {
        width: 31%;
    }
    .imagerow {
        background-image: none;
    }
    .plus-minus-button {
        width: 81%;
    }
    .delete {
        margin-left: 162%;
    }
    .p2 {
        position: absolute;
        width: 59vw;
        margin-top: -7%;
    }
    .text-color {
        margin-left: 20%;
    }
    .checkout-button {
        margin-left: 54%;
        float: none;
        margin-top: 0%;
    }
    .modal-top {
        width: 80%;
        margin-left: 12%;
        margin-top: 19%;
    }
    .continue-to-shop-button {
        font-size: 10px;
        margin-top: -5%;
    }
    .fs {
        height: 5vh;
        font-size: 9px;
    }
    .checkout-text-color {
        font-size: x-small;
        margin-left: 14%;
        width: 57vw;
    }
    .checkout-container {
        margin-top: 13%;
    }
    .mod {
        margin-top: 0;
        top: -2%;
    }
    .product-name {
        font-size: 0px;
    }
    .long-text {
        font-size: 75%;
        font-weight: 900;
    }
    .short-text {
        font-size: 0;
    }
    .add-cart {
        text-decoration: none;
        color: rgba(256, 255, 255, 0.8);
        background: rgb(17, 177, 33);
        padding: 1px 1px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: none;
        transition: all 0.2s ease-in-out;
    }
}
