.frog{
    width: 20%;
    border-radius: 20%;
}
.title{
    margin-left: -10%;
    color: greenyellow;
    font-size: 60px;
}
.cart{
    margin-left: 30%;
    color: greenyellow;
    font-size: 5rem;
}
.cartcount{
    margin-left: 2%;
    position: absolute;
    font-size: 25px;
    margin-top: 1.5%;
}
